<template>
  <v-app id="app">
    <div class="container">
       <!--dash player -->
      <div>
        <section>
          <video id="dashplayer" :data-dashjs-player="dashplayer" autoplay="true" preload="auto" controls poster="./assets/dash-logo.png"></video>
          <ul class="navigation">
            <li @click="loadDash"><img src="./assets/button-dash.png" /></li>
            <li @click="loadLLDash"><img src="./assets/button-dash-ll.png" /></li>
            <v-toolbar-title class="latencytext">Latency: {{ currentDashLatency.toFixed(3) }} secs</v-toolbar-title>
            <v-toolbar-title class="latencytext">Time to Load: {{ elapsedDashTimeToLoad }} msecs</v-toolbar-title>
          </ul>
        </section>
      </div>

      <!--hls player -->
      <div>
        <section>
          <video id="hlsplayer" controls poster="./assets/hls-logo.png"></video>
          <ul class="navigation">
            <li @click="loadHLS"><img src="./assets/button-hls.png" /></li>
            <li @click="loadLLHLS"><img src="./assets/button-hls-ll.png" /></li>
            <v-toolbar-title class="latencytext">Latency: {{ currentHLSLatency.toFixed(3) }} secs</v-toolbar-title>
            <v-toolbar-title class="latencytext">Time to Load: {{ elapsedHLSTimeToLoad }} msecs</v-toolbar-title>
          </ul>
        </section>
      </div>
    </div>
  </v-app>
</template>

<script>
// import 'dashjs'
import dashjs from "dashjs";
import Hls from "hls.js";

export default {
  name: "App",
  data() {
    return {
      dashplayer: null,
      hlsplayer: null,
      minDrift: 0.02,
      catchupPlaybackRate: 0.5,
      liveCatchupLatencyThreshold: 60,
      url: null,
      currentDashLatency: 0,
      currentPlaybackRate: 0,
      currentDashBuffer: 0,
      currentHLSLatency: 0,
      isDynamic: false,
      isDashLowlatency: false,
      isHLSLowlatency: false,
      playerType: "hls",
      checkLLDash: false,
      checkLLHLS: false,
      dashurl: null,
      hlsurl: null,
      startTimeToLoad : null,
      elapsedDashTimeToLoad : 0,
      elapsedHLSTimeToLoad : 0
    };
  },
  mounted() {
    this.loading = setInterval(this.getStatus, 200);
  },
  methods: {
    loadDashCustom() {
      this.url = this.dashurl;
      this.isDashLowlatency = this.checkLLDash;
      this.playerType = "dash";
      this.load();
    },
    loadDash() {
      this.url = "https://streamer.castis.io/live.stream/noll_manifest.mpd";
      //this.url = "http://stg-loc-slb.cdn.3bbtv.com:8080/3bb/live/3/3.mpd";
      //this.url = "https://livesim.dashif.org/livesim/chunkdur_1/ato_7/testpic4_8s/Manifest300.mpd";
      this.dashTargetLatency = 10;
      this.isDashLowlatency = false;
      this.playerType = "dash";
      this.load();
    },
    loadLLDash() {
      this.url = "https://streamer.castis.io/live.stream/ll_manifest.mpd";
      //this.url = "https://livesim.dashif.org/livesim/chunkdur_1/ato_7/testpic4_8s/Manifest300.mpd";
      this.dashTargetLatency = 3;
      this.isDashLowlatency = true;
      this.playerType = "dash";
      this.load();
    },
    loadHLSCustom() {
      this.url = this.hlsurl;
      this.isHLSLowlatency = this.checkLLHLS;
      this.playerType = "hls";
      this.load();
    },
    loadHLS() {
      this.url = "https://streamer.castis.io/live.stream/noll_master.m3u8";
      //this.url = "http://content.uplynk.com/channel/e4d136bb61b1453a8817dc39c6e90201.m3u8";
      this.hlsTargetLatency = 10;
      this.isHLSLowlatency = false;
      this.playerType = "hls";
      this.load();
    },
    loadLLHLS() {
      this.url = "https://streamer.castis.io/live.stream/ll_master.m3u8";
      //this.url = "https://stream.mux.com/v69RSHhFelSm4701snP22dYz2jICy4E4FUyk02rW4gxRM.m3u8";
      this.hlsTargetLatency = 3;
      this.isHLSLowlatency = true;
      this.playerType = "hls";
      this.load();
    },
    load() {
      //console.log(`${this.isLowlatency}`);
      this.startTimeToLoad = new Date();

      if (this.playerType == "dash") {
        if (this.dashplayer) {
          this.dashplayer.reset();
        }
        
        this.elapsedDashTimeToLoad = 0;
        this.dashplayer = dashjs.MediaPlayer().create();
        this.dashplayer.updateSettings({
          streaming: { lowLatencyEnabled: this.isDashLowlatency },
        });

        let video = document.getElementById("dashplayer");
        this.dashplayer.initialize(video, this.url, true);
        this.applyParameters();
      } else {
        if (this.hlsplayer) {
          this.hlsplayer.destroy();
        }

        this.elapsedHLSTimeToLoad = 0;
        this.hlsplayer = new Hls({
          enableWorker: true,
          maxBufferLength: 1,
          liveBackBufferLength: 1,
          liveSyncDuration: this.hlsTargetLatency,
          liveMaxLatencyDuration: this.hlsTargetLatency + 1,
          liveDurationInfinity: true,
          highBufferWatchdogPeriod: 1,
        });
        this.hlsplayer.loadSource(this.url);

        let video = document.getElementById("hlsplayer");
        this.hlsplayer.attachMedia(video);
        this.hlsplayer.on(Hls.Events.MANIFEST_PARSED, () => {
          video.play();
        });
      }
    },
    applyParameters() {
      if (!this.dashplayer) {
        return;
      }

      this.dashplayer.updateSettings({
        streaming: {
          delay: {
            liveDelay: this.dashTargetLatency,
            //liveDelayFragmentCount: 4,
          },
          liveCatchup: {
            minDrift: 0.02,
            playbackRate: 0.5,
            latencyThreshold: 60,
          },
        },
      });
    },
    getStatus() {
      if (this.dashplayer && this.dashplayer.isReady()) {
        var dashMetrics = this.dashplayer.getDashMetrics();
        this.currentDashLatency = parseFloat(
          this.dashplayer.getCurrentLiveLatency(),
          10
        );

        let video = document.getElementById("dashplayer");
        if ( this.elapsedDashTimeToLoad == 0 && video.webkitVideoDecodedByteCount > 0 ){
          let curTime = new Date();
          this.elapsedDashTimeToLoad = curTime.getTime() - this.startTimeToLoad.getTime();
          //console.log("timeToLoad Dash : ", this.elapsedDashTimeToLoad);
        }

        var currentDashBuffer = dashMetrics.getCurrentBufferLevel("video");
        this.currentDashBuffer = currentDashBuffer;
        this.isDynamic = this.dashplayer.isDynamic();
      }

      if (this.hlsplayer) {
        this.currentHLSLatency = this.hlsplayer.latency;
        // console.log(`${this.hlsplayer.latency}`);
        let video = document.getElementById("hlsplayer");
        if ( this.elapsedHLSTimeToLoad == 0 && video.webkitVideoDecodedByteCount > 0 ){
          let curTime = new Date();
          this.elapsedHLSTimeToLoad = curTime.getTime() - this.startTimeToLoad.getTime();
          //console.log("timeToLoad HLS : ", this.elapsedHLSTimeToLoad);
        }
      }
    },
  },
};
</script>

<style>
.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  justify-items: center;
}
#urlInput {
  width: 200px;
}
#playButton {
  margin-left: 5px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#dashplayer, #hlsplayer {
  width: 640px;
  height: 360px;
  background-color: black;
  box-shadow: 13px 15px 27px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 13px 15px 27px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 13px 15px 27px 0px rgba(0, 0, 0, 0.3);
  border: 3.2px solid rgba(3, 3, 3, 0.94);
}
section {
  position: relative;
  width: 100%;
  height: 100%;
}
section video {
  width: 640px;
  height: 360px;
  background-color: black;
  box-shadow: 13px 15px 27px 0px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 13px 15px 27px 0px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 13px 15px 27px 0px rgba(0, 0, 0, 0.27);
  border: 3.2px solid rgba(3, 3, 3, 0.94);
  object-fit: cover;
}
section .targetlatency {
  width: 640px;
}
section .navigation {
  position: absolute;

  top: 0;
  right: 0;
  transform: scale(0.7, 0.7);
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
section .navigation li {
  list-style: none;
  cursor: pointer;
  margin: 5px;
  opacity: 0.85;
  transition: 0.5s;
}
section .navigation li:hover {
  opacity: 1;
}
section .navigation li img {
  transition: 0.5s;
}
section .navigation li img:hover {
  transition: 0.5s;
  transform: scale(1.25, 1.25);
}
.latencytext {
  background: white;
}
@media all and (max-width: 575px) {
  #dashplayer, #hlsplayer {
    width: 384px;
    height: 216px;
    background-color: black;
    box-shadow: 13px 15px 27px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 13px 15px 27px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 13px 15px 27px 0px rgba(0, 0, 0, 0.3);
    border: 3.2px solid rgba(3, 3, 3, 0.94);
  }
  section video {
    width: 384px;
    height: 216px;
    background-color: black;
    box-shadow: 10px 12px 24px 0px rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: 10px 12px 24px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 10px 12px 24px 0px rgba(0, 0, 0, 0.27);
    border: 3.2px solid rgba(3, 3, 3, 0.94);
    object-fit: cover;
  }
  section .targetlatency {
    width: 384px;
    transform: scale(0.75, 0.75);

  }
  section .navigation {
    position: absolute;
    top: -25px;
    right: -35px;
    transform: scale(0.6, 0.6);
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  }
  section .navigation li {
    list-style: none;
    cursor: pointer;
    margin: 5px;
    opacity: 0.85;
    transition: 0.5s;
  }
  section .navigation li:hover {
    opacity: 1;
  }
  section .navigation li img {
    transition: 0.5s;
  }
  section .navigation li img:hover {
    transition: 0.5s;
    transform: scale(1.15, 1.15);
  }
}
</style>
